<footer class="footer-area ftco-footer ftco-section mt-4">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        </div>
        <div class="row d-flex align-items-end">
        <div class="col-md-12 text-center">
            <p>
                Đại học Bách Khoa - Khoa Khoa học Kỹ thuật máy tính
            </p>
            <p>
                Lập trình web - Lớp L02
            </p>
        </div>
        </div>
    </div>
</footer>